.main{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
  flex-direction: column;
 
}
.weathercard{
  display: grid;
  margin-top: 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.cardDiv{
  border: 1px solid grey;
  height: 250px;
  width: 150px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}
@media only screen and (min-width : 0px) and (max-width:576px) {
  
  .weathercard{
    grid-template-columns: 1fr;
   
  }
}
@media only screen and (min-width : 576px) and (max-width:768px){
  .weathercard{
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width : 768px) and (max-width:992px){
  .weathercard{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (min-width : 992px) and (max-width:1200px){
  .weathercard{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

